<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="error !== ''" style="text-align:center; color: red">
    <h1>
      <pre>{{error}}</pre>
    </h1>
  </div>
<app-to-do *ngIf="columns && propEnumMap"  (saveChanges)="saveChanges($event)" (deleteToDo)="removeToDo($event)" (copyToDo)="copyToDo($event)" (addToDo)="addToDo($event)" (deleteAllToDos)="deleteAllToDos($event)" [ToDoList]="ToDoList" [columns]="columns" [propEnumMap]="propEnumMap" [defaultToDo]="defaultToDo" [requiredFields]="requiredFields" [validators]="validators"></app-to-do>

